.box {
  &.box--blue {
    fill: #d2e8f5;
    stroke: #a3d1ea;
  }

  &.box--green {
    fill: #d2f4df;
    stroke: #a2e7c0;
  }

  &.box--white {
    fill: #ffffff;
    stroke: #e4e4e4;
  }
}

.text {
  font-size: 24px;

  &.text--blue {
    fill: #1b799b;
  }

  &.text--green {
    fill: #1b9562;
  }

  &.text--white {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 19px;
    fill: #333333;
  }

  &.text--small {
    font-size: 19px;
  }

  &.text--big {
    font-size: 30px;
  }

  &.text--alt {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
  }
}